@import "mq.css"; 


html, body {
  height: 100%;
}

body {
  display: flex;
  background: #333;
  overflow-x: hidden;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  width: 220px;
}

.content {
  flex: 1;
  padding: 2rem;
  background: #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}

.content.is-open {
  transform: translate3d(220px, 0, 0);
}

.lsg__button--ui {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  margin: 0.3rem;
  background: #9E9D9D;
  color: #ECECEC;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.lsg__button--menu {
  cursor: pointer;
  color: white;
}

.menu__icon {
  font-size: 1.6rem;
}


.content {
  /* Lost grid needs this, here, on the parent of the individual components. */
  lost-flex-container: column; 

  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to left, #606c88 , #3f4c6b); 
  /* padding: 5rem *; */
}

/* .header {
  lost-column: 1/1;

  margin: * auto;
  padding: * 1rem;
  background-color: lightgray;
}
 */


.title {
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}

.nav__link {
  display: block;
  position: relative;

  &:hover {
    background: #444;
  }
}

.nav__link--wip {
  opacity: 0.6;
}

.link__text {
  display: inline-block;
  font-size: 1rem;
  color: #eee;
  border-bottom: 1px solid #222;
}

.nav__icon {
  padding: 1rem;
  color: white;
}

.blend--red {
  background-color: red !important;
  background-blend-mode: multiply;
}

.row--actions {
  lost-column: 1/1;
}


.component__container {

}

.component__itself {

}

.component__docs {

}
