@import "mq.css"; 

$color--light-gray: #f3f3f3;


html, body {
  height: 100%;
}

body {
  display: flex;
  overflow-x: hidden;
  min-height: 100%;
}

.header {
  background: $color--light-gray;
}

.sidebar {
  position: absolute;
  width: 220px;
}

.content {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;

  width: 100%;
  min-height: 500%;
  background: linear-gradient(25deg, #606c88 , #323E5D);
}

.content.is-enter {
  transform: translate3d(220px, 0, 0);
}

.button--ui {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  margin: 0.3rem;
  background: #9E9D9D;
  color: #ECECEC;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 1px;

  &:hover {
    opacity: 0.8;
  }
}

.menu__icon {
  font-size: 1.6rem !important; /* overriding mdi library default */
  margin: 1rem 0.25rem 0 1rem;
  color: white;
  cursor: pointer;
}

.comp__title {
  color: #C8C8C8;
  margin: 0 0 1rem 0;
}

.sidebar__title {
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7C7878;
  background: #EDEDED;
}

.nav__item {
  cursor: pointer;
}

.nav__link {
  display: block;
  position: relative;

  &:hover {
    background: #DED7D7;
  }
}

.nav__link--wip {
  opacity: 0.4;

  /* account for visual weight of icons */
  .mdi { opacity: 0.3; } 
}

.link__text {
  display: inline-block;
  font-size: 1rem;
  color: #4C4C4C;
}

.nav__icon {
  padding: 1rem;
}

.blend--red {
  background-color: red !important;
  background-blend-mode: multiply;
}

.element__group {
  /* TODO: replace with flex centering */
  text-align: center;

  margin: 1rem 0 0 0;
}

.element__actions {
  background: #303A55;
  padding: 1rem;
}

.element__container {

  @media ($sm) { 
    lost-column: 4/4; 
  }
 
  @media ($md) { 
    lost-column: 4/6; 
    lost-offset: -1/6; 
  }
 
  @media ($lg) { 
    lost-column: 12/20; 
    lost-offset: -4/20; 
  }
 
  @media ($xl) { 
    lost-column: 14/32; 
    lost-offset: -9/32; 
  }

  min-height: 30rem;  

}

.element__docs {
  lost-flex-container: row; 
}

.col--half {
  lost-column: 1/2;
}
