/* 
    Lost grid system
    https://github.com/peterramsing/lost

    Conventions:
      - Put lost properties first in each;
      
*/

/*  override defaults. 
    These settings work across files. */
@lost flexbox flex;
@lost gutter 1em;

body { 
  font-family: 'Lato';
  font-size: 16px;

  lost-container: row;
}


.box {
  lost-column: 1/4;
  
  background: #DDD;
  height: 10em;
}



