/* 
    Lost grid system
    https://github.com/peterramsing/lost

    Conventions:
      - Put lost properties first in each;
      
*/

/*  Every Lost Grid used will use these settings, instead of their defaults.
    These settings work across files. */
@lost flexbox flex;
@lost gutter 1rem;

:root {
  --textColor: blue;
}

@custom-media --sm (width >= 1rem);
/* @custom-media --sm (min-width: var(--smMinWidth));  // circular dependency. TODO */
@custom-media --md (width >= 30rem);
@custom-media --lg (width >= 50rem);
@custom-media --xl (width >= 60rem);

/* 
  TODO: apply styling to 2 bpoints, excluding edges. Similar to :
    @include mq(tablet, desktop) { }
 
  https://github.com/sass-mq/sass-mq 
*/

.container {
  lost-column: 1/1;

  margin: * auto;
  padding: * 1rem;

  @media (--sm) { background-color: orange; }
  @media (--md) { background-color: purple; }
  @media (--lg) { background-color: yellow; }
  @media (--xl) { background-color: gold; }
}

body { 
  lost-flex-container: row;
}

.container h1 {
  @media (--sm) { color: var(--textColor); }
  @media (--md) { color: red; }
  @media (--lg) { color: gold; }
  @media (--xl) { color: white; }
}
