/* 
    Lost grid system
    https://github.com/peterramsing/lost

    Conventions:
      - Put lost properties first in each;
      
*/

/*  Every Lost Grid used will use these settings, instead of their defaults.
    These settings work across files. */
@lost flexbox flex;
@lost gutter 1rem;

:root {
  --textColor: blue;
}

@custom-media --sm (width >= 1rem);
/* @custom-media --sm (min-width: var(--smMinWidth));  // circular dependency. TODO */
@custom-media --md (width >= 30rem);
@custom-media --lg (width >= 50rem);
@custom-media --xl (width >= 60rem);

/* @custom-selector :--container .container; */

.container {
  lost-column: 1/1;

  margin: * auto;
  padding: * 1rem;
  background-color: green;
}

@media (--sm) { .container { background-color: orange;  }}
@media (--md) { .container { background-color: purple; }}
@media (--lg) { .container { background-color: yellow; }}
@media (--xl) { .container { background-color: gold; }}

body { 
  lost-flex-container: row;
}

.container h1 {
  color: var(--textColor);
}
