/* 
    Lost grid system
    https://github.com/peterramsing/lost

    Conventions:
      - Put lost properties first in each;
      
    Every Lost Grid used will use these settings, instead of their defaults.
    These settings work across files. */
@lost flexbox flex;
@lost gutter 1rem;

/********************************************/

/* 
  TODO: apply styling to 2 bpoints, excluding edges. Similar to :
    @include mq(tablet, desktop) { }
 
  https://github.com/sass-mq/sass-mq 
*/


/* native CSS vars
:root {
  --textColor: blue;
}
 */

/* CSS Vars, that work into @media queries via PostCSS plugin
@custom-media --sm (width >= 1rem);
@custom-media --md (width >= 30rem);
@custom-media --lg (width >= 50rem);
@custom-media --xl (width >= 60rem);
 */


/* faux Sass vars, via Pre-CSS */
$sm: (width >= 1rem);
$md: (width >= 36rem);
$lg: (width >= 60rem);
$xl: (width >= 90rem);



.breakpoint-helper {
  position: absolute;
  width: 100%;
  font-size: 0.90rem;
  padding: 0.25rem 1rem;
  color: white;
  bottom: 0;
  
  @media ($sm) { background-color: rgba(0, 0, 0, 0.25); &:after { content: 'sm: []'; }  }
  @media ($md) { background-color: rgba(0, 0, 0, 0.40); &:after { content: 'md: [] []'; } }
  @media ($lg) { background-color: rgba(0, 0, 0, 0.60); &:after { content: 'lg: [] [] []'; } }
  @media ($xl) { background-color: rgba(0, 0, 0, 0.70); &:after { content: 'xl: [] [] [] []'; }  }
}