$fontSize: 2rem;

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
  font-family: 'Lato';
  font-size: 16px; /*  global set, for rems */
}

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

a:matches(:hover, :any-link) {
  outline: 0;
}

b, strong {
  font-weight: bold;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 200;
}

/* TODO: reuse same vars in both font-size + line-height */
h1 {
  font-size: $fontSize * 2;
  line-height: $fontSize;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: $fontSize * 1.8;
  line-height: $fontSize;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: $fontSize * 1.6;
  line-height: $fontSize;
  letter-spacing: -0.08rem;
}

h4 {
  font-size: $fontSize * 1.4;
  line-height: $fontSize;
  letter-spacing: -0.05rem;
}

h5 {
  font-size: $fontSize * 1.2;
  line-height: $fontSize;
  letter-spacing: 0;
}

h6 {
  font-size: $fontSize;
  line-height: $fontSize;
  letter-spacing: 0;
}

.hidden {
  display: none;
}
