doctype

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    
    title Living Style Guide Demo

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet' href='css/reset.css')
    link(rel='stylesheet' href='css/mq.css')
    link(rel='stylesheet' href='css/layout.css')
    link(rel='stylesheet' href='css/card.css')
    link(rel='stylesheet' href='css/util.css')

    link(rel='stylesheet' href='../app/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet' href='../app/highlightjs/styles/default.css')

    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300', rel='stylesheet', type='text/css')

  body

    .sidebar
      .sidebar__title Elements

      ul.nav
        li.nav__item
          a.nav__link
            i.nav__icon.mdi.mdi-view-stream( href='#cards') 
            .link__text Cards

        li.nav__item
          a.nav__link.nav__link--wip( href='#stacks') 
            i.nav__icon.mdi.mdi-layers
            .link__text Stacks

        li.nav__item
          a.nav__link.nav__link--wip( href='#gauges') 
            i.nav__icon.mdi.mdi-gauge
            .link__text Gauges

        li.nav__item
          a.nav__link.nav__link--wip( href='#tags') 
            i.nav__icon.mdi.mdi-tag-text-outline
            .link__text Tags

        li.nav__item
          a.nav__link.nav__link--wip( href='#loading') 
            i.nav__icon.mdi.mdi-bell
            .link__text Loading

        li.nav__item
          a.nav__link.nav__link--wip( href='#messages') 
            i.nav__icon.mdi.mdi-message-text
            .link__text Messages

        li.nav__item
          a.nav__link.nav__link--wip( href='#alerts') 
            i.nav__icon.mdi.mdi-bullhorn
            .link__text Alerts
            
            //- mdi-looks
            //- mdi-multiplication
            //- mdi-drawing
            //- mdi-view-week
            //- mdi-view-grid
            //- mdi-view-agenda
            //- mdi-arrange-send-backward


    .content
      a.button--menu
        i.mdi.mdi-menu.menu__icon
      a.button--panic
        i.mdi.mdi-volume-off.menu__icon
      
      .element__group.element--one
        .element__actions
          h1.element__title Scanline Card
          h2  
          .button--ui.button--enter
            i.mdi.mdi-ray-start-arrow
            span Enter
          .button--ui.button--exit
            i.mdi.mdi-ray-end-arrow
            span Exit

        .element__container.single
          .card.card--quarter.opacity--zero.squeezed
            h3.card__title theo prins
            img.card__image(src='http://designwar.net/wp-content/uploads/2015/05/theo-prins-odd-theoprins.jpg')
            p.card__text
            .button.button--cta
              i.mdi.mdi-ray-end-arrow
              span
                | Add To Collection

      .element__group.element--two
        .element__actions
          h1.element__title Morph States Card
          h2.element__subtitle

          .button--ui.button--secondary.button--reset
            span reset

          .button--ui.button--one
            span 1

          i.mdi.mdi-arrow-right.icon--arrow-right
          .button--ui.button--two
            span 2

          i.mdi.mdi-arrow-right.icon--arrow-right
          .button--ui.button--three
            span 3

          i.mdi.mdi-arrow-right.icon--arrow-right
          .button--ui.button--four
            span 4

        .element__container.single
          .card.card--full.opacity--zero
            img.card__image.opacity--zero(src='https://d2pi0bc9ewx28h.cloudfront.net/4142f99c88c3f2a7cf65dbb32d889e74/ydhfeo0/Zrmo2ltwk/tumblr_static_21w21rfvvr284wsssc4k4gs8w.jpg')
            h3.card__title.card__title--overlay ashley mackenzie
    


      .element__group.element--three
        .element__actions
          h1.element__title Card Collection
          h2.element__subtitle

          .button--ui.button--secondary.button--reset
            span reset

          .button--ui.button--one
            span 1

          i.mdi.mdi-arrow-right.icon--arrow-right
          .button--ui.button--two
            span 2

          i.mdi.mdi-arrow-right.icon--arrow-right
          .button--ui.button--three
            span 3

        .element__container.collection
          .card.card--full.opacity--zero
            img.card__image.opacity--zero(src='http://community.paletteartclasses.com/wp/wp-content/uploads/2015/10/Jeremy-Mann-04.jpg')
            h3.card__title.card__title--overlay jeremy mann
    
        .element__container.collection
          .card.card--full.opacity--zero
            img.card__image.opacity--zero(src='http://community.paletteartclasses.com/wp/wp-content/uploads/2015/10/Jeremy-Mann-04.jpg')
            h3.card__title.card__title--overlay jeremy mann
    
        .element__container.collection
          .card.card--full.opacity--zero
            img.card__image.opacity--zero(src='http://community.paletteartclasses.com/wp/wp-content/uploads/2015/10/Jeremy-Mann-04.jpg')
            h3.card__title.card__title--overlay jeremy mann
    












    .breakpoint-helper

  //- bower downloaded. manually referenced
  script(src='../app/jquery/dist/jquery.js')
  script(src='../app/lodash/lodash.js')
  script(src='../app/verge/verge.js')
  script(src='../app/gsap/src/uncompressed/TweenMax.js')
  script(src='../app/fastclick/lib/fastclick.js')
  script(src='../app/highlightjs/highlight.pack.js')
  script(src='../app/teoria/teoria.js')

  script(src='../app/flocking/dist/flocking-no-jquery.min.js')

  //- via CDN
  //- script(src='http://cdn.jsdelivr.net/mojs/latest/mo.min.js')
  //- script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js')

  //- 3rd party/vendor  
  //- TODO: refactor to browserify
  script(src='../js/vendor--cubicBezier.js')
  script(src='../js/vendor--utils.js')

  //- manually copied via npm/node_modules
  script(src='../js/vendor--webpd-latest.js')
  //- script(src='../js/response.js')

  //- app
  script(src='../js/flockingDefinitions.js')
  script(src='../js/main.js')





