doctype

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    
    title Living Style Guide Demo

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet' href='css/reset.css')
    link(rel='stylesheet' href='css/mq.css')
    link(rel='stylesheet' href='css/layout.css')
    link(rel='stylesheet' href='css/card.css')
    link(rel='stylesheet' href='../app/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet' href='../app/highlightjs/styles/default.css')

    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300', rel='stylesheet', type='text/css')

  body

    .sidebar
      .sidebar__title Elements

      ul.nav
        li.nav__item
          a.nav__link
            i.nav__icon.mdi.mdi-view-stream( href='#cards') 
            .link__text Cards

        li.nav__item
          a.nav__link.nav__link--wip( href='#stacks') 
            i.nav__icon.mdi.mdi-layers
            .link__text Stacks

        li.nav__item
          a.nav__link.nav__link--wip( href='#gauges') 
            i.nav__icon.mdi.mdi-gauge
            .link__text Gauges

        li.nav__item
          a.nav__link.nav__link--wip( href='#tags') 
            i.nav__icon.mdi.mdi-tag-text-outline
            .link__text Tags

        li.nav__item
          a.nav__link.nav__link--wip( href='#loading') 
            i.nav__icon.mdi.mdi-bell
            .link__text Loading

        li.nav__item
          a.nav__link.nav__link--wip( href='#messages') 
            i.nav__icon.mdi.mdi-message-text
            .link__text Messages

        li.nav__item
          a.nav__link.nav__link--wip( href='#alerts') 
            i.nav__icon.mdi.mdi-bullhorn
            .link__text Alerts
            
            //- mdi-looks
            //- mdi-multiplication
            //- mdi-drawing
            //- mdi-view-week
            //- mdi-view-grid
            //- mdi-view-agenda
            //- mdi-arrange-send-backward


    .content

      a.button--menu
        i.mdi.mdi-menu.menu__icon

      a.button--panic
        i.mdi.mdi-volume-off.menu__icon

      .element__group.element--one
        .element__actions
          h1.comp__title Card
          h2 
          .button--ui.button--enter
            i.mdi.mdi-ray-start-arrow
            span Enter

          .button--ui.button--exit
            i.mdi.mdi-ray-end-arrow
            span Exit

        .element__container
          .card.element.color--dark
            h3.card__title theo prins
            img.card__image(src='http://designwar.net/wp-content/uploads/2015/05/theo-prins-odd-theoprins.jpg')
            //- .card__content 
            //-   p.
            //-     He grew up in the Pacific Northwest and the Netherlands and spent most of his childhood drawing airplanes, cities and dinosaurs. As a teenager he financed flying lessons with aviation art commissions but dropped his idea of becoming a pilot when he discovered his passion for digital art.
            //-   p.
            //-     Since 2007 he's been working as a concept artist in the video game industry. This opened the doors to a somewhat nomadic existence. First he worked for CCP games in Iceland, then Reloaded studios in South Korea and eventually began traveling and living in different cities throughout Asia while freelancing on the go. He's had a temporary studio space aboard a container ship crossing the Pacific Ocean, telecommuted from the Himalayan foothills, lived on a small island off Hong Kong, visited ship breaking yards in India and has extensively explored street markets and alleyways around Asia.

      .element__group.element--two
        .element__actions
          h1.comp__title Card
          h2 
          .button--ui.button--enter
            i.mdi.mdi-ray-start-arrow
            span Enter

          .button--ui.button--exit
            i.mdi.mdi-ray-end-arrow
            span Exit

        .element__container
          .card.element.color--dark
            h3.card__title theo prins
            img.card__image(src='http://designwar.net/wp-content/uploads/2015/05/theo-prins-odd-theoprins.jpg')
            //- .card__content 
            //-   p.
            //-     He grew up in the Pacific Northwest and the Netherlands and spent most of his childhood drawing airplanes, cities and dinosaurs. As a teenager he financed flying lessons with aviation art commissions but dropped his idea of becoming a pilot when he discovered his passion for digital art.
            //-   p.
            //-     Since 2007 he's been working as a concept artist in the video game industry. This opened the doors to a somewhat nomadic existence. First he worked for CCP games in Iceland, then Reloaded studios in South Korea and eventually began traveling and living in different cities throughout Asia while freelancing on the go. He's had a temporary studio space aboard a container ship crossing the Pacific Ocean, telecommuted from the Himalayan foothills, lived on a small island off Hong Kong, visited ship breaking yards in India and has extensively explored street markets and alleyways around Asia.


    .breakpoint-helper

  //- bower downloaded. manually referenced
  script(src='../app/jquery/dist/jquery.js')
  script(src='../app/verge/verge.js')
  script(src='../app/gsap/src/uncompressed/TweenMax.js')
  script(src='../app/fastclick/lib/fastclick.js')
  script(src='../app/highlightjs/highlight.pack.js')
  script(src='../app/teoria/teoria.js')
  script(src='../app/flocking/dist/flocking-no-jquery.min.js')

  //- via CDN
  script(src='http://cdn.jsdelivr.net/mojs/latest/mo.min.js')
  //- script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js')

  //- manually copied via npm/node_modules
  //- TODO: refactor to browserify
  script(src='../js/response.js')

  //- 3rd party/vendor  
  script(src='../js/cubicBezier.js')

  //- app
  script(src='../js/flockingDefinitions.js')
  script(src='../js/main.js')


