doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='favicon/favicon.ico' type='image/x-icon')
    link(rel='apple-touch-icon' href='favicon/apple-touch-icon.png')
    link(rel='stylesheet' href='css/style.css')
  body
